@import "tailwindcss";

@theme {
    --color-primary: #4F46E5;
    --color-primary-dark: #101828;
}

:root {
    --primary-color: #4F46E5;
    --secondary-color: #6B7280;
    --background-color: #ecf1f8;
    --dark-color: #101828;
    --gray-color: #b1b8c4;
    --white-color: #ffffff;
    --text-color: #111827;
    --font-base: 'Pretendard Variable', 'Noto Sans KR', sans-serif;
    --container-width: 72rem;
    --container-width-sm: 48rem;
    --member-width: 28rem;
    --max-width: 100%;   
}
html {
    
}
body {
  overflow-y: scroll;
  font-family: var(--font-base) !important;
  color: var(--text-color);
  background-color: var(--background-color);
}
button {
    cursor: pointer;
}